.cta-container {
  padding: 10px 20px;
  text-align: center;
  position: relative;

  .cta-overlay {
    position: absolute;
    inset: 0px;
  }

  * {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
