.content-header {
  @include flex;
  &-one,
  &-two {
    width: 50%;
    position: relative;
  }
  &-space {
    @include position(absolute, 22%, auto, 0, auto);
    width: 78%;
    background: $body-color;
  }
  &-absolute {
    @include position(absolute, 28%, auto, auto, auto);
    width: 172%;
    z-index: 10;
  }
  &-padding {
    width: 100%;
    padding: 200px 0;
  }
  &-h2 {
    @include position(absolute, auto, auto, -7%, 12%);
    z-index: 11;
    padding: 0;
    margin: 0;
    color: $body-color;
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: normal;
  }
  .black {
    color: black;
  }
}
@media (max-width: 1600px) {
  .content-header {
    &-h2 {
      @include position(absolute, auto, auto, -7%, 9%);
      font-size: 10rem;
    }
  }
}

@media (max-width: 1200px) {
  .content-header {
    &-h2 {
      font-size: 9rem;
    }
    &-padding {
      padding: 120px 0;
    }
  }
}

@media (max-width: 1200px) {
  .content-header {
    &-h2 {
      font-size: 6rem;
    }
  }
}

// Mobile

@media (min-width: 768px) {
  .content-mobile-subpage {
    display: none;
  }
}

@media (max-width: 768px) {
  .content-header {
    display: none;
  }

  .content-mobile-subpage {
    display: block;
    @include flex;
    padding-bottom: 300px;
    .one {
      width: 35%;
      position: relative;
    }
    .one-text {
      z-index: 10;
      @include position(absolute, 93%, auto, auto, 20%);
      width: 100%;
      background-color: #253028;
      color: #fffdf8;
      width: 150%;
      .one-h2 {
        text-transform: uppercase;
        font-size: 2.9rem;
        margin: 0 0 -15px;
        padding: 35px 40px 0px 0px;
        letter-spacing: 2px;
        color: #fffdf8;
      }
    }
    .two {
      width: 65%;
      position: relative;
    }
    .image-main {
      @include position(absolute, 28%, auto, auto, -27%);
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .content-mobile-subpage {
    padding-bottom: 230px;
    .one-text {
      @include position(absolute, 95%, auto, auto, 20%);
      width: 185%;
      .one-h2 {
        text-transform: uppercase;
        font-size: 2.1rem;
        margin: 0 0 -8px;
        padding: 25px 25px 0px 0px;
      }
    }
    .image-main {
      @include position(absolute, 28%, auto, auto, -32%);
      width: 110%;
    }
  }
}
