a {
  &:visited {
    color: $body-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $body-color;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
