// stylelint-disable value-keyword-case
$font__main: -"Didot", sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Didot", sans-serif;
$font__pre: "Didot", sans-serif;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.2;

$font-size-paragraph: 1.4rem;
$font-size-paragraph-large: 1.1rem;
$font-size-paragraph-s-large: 1rem;

$font-weight-paragraph: bold;
$letter-spacing-paragraph: 1px;

$mobile-h2: 1.4rem;
$mobile-paragraph: 1rem;
